@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

html{
	background-color: black;
}

body{
	font-family: 'Gideon Roman', cursive;
	text-align: center;
	background-color: white;
	margin: 0 auto;
	width: 700px;
	border: purple;
	border-radius: 100px;
}

img{
	width: 350px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

h1 {
  color: purple;
  text-shadow: 1px rebeccapurple;
}

button{
	background-color: purple;
	border-radius: 10px;
}